body {
  margin: 0;
  background: #06141f;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: calc(100vh - 90px);
}

main {
  padding: 40px;
  padding-bottom: 130px;
}

h1 {
  font-size: 64px;
  margin: 0;
}

h2 {
  color: #8fd3ff;
  margin-bottom: 40px;
}

.card {
  background: #10283a;
  border-left: 8px solid #00c2ff;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 12px;
  font-size: 30px;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  background: #00c2ff;
  color: #001018;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 999;
}

.bottom-track {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100vw;
  font-size: 34px;
  font-weight: bold;
  animation: ticker 28s linear infinite;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
